{% extends 'base.html' %}
{% block content %}
<h2>Register</h2>
<form method="POST" action="{{ url_for('main_bp.register') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username }}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password }}
    </p>
    <p>
        {{ form.confirm.label }}<br>
        {{ form.confirm }}
    </p>
    <p>{{ form.submit }}</p>
</form>
{% endblock %}
